<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>创建控制器</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<form action="{:U('Cmodel/index')}" method="post">
    <div class="col-xs-12">
        <label for="moduleName">选择模块</label>
        <select name="moduleName" id="moduleName">
            <foreach name="moduleName" item="vo">
                <option value="{$vo}">{$vo}</option>
            </foreach>
        </select>
        <br/>
        <label for="tablename_a">选择数据表A</label>
        <select name="tablename_a" id="tablename_a">
            <foreach name="modelName" item="vo">
                <option value="{$vo}">{$vo}</option>
            </foreach>
        </select>

        <label for="tablename_b">选择数据表B</label>
        <select name="tablename_b" id="tablename_b">
            <foreach name="modelName" item="vo">
                <option value="{$vo}">{$vo}</option>
            </foreach>
        </select>

        <button type="button" onclick="getColume();">获取表字段</button>
    </div>
</form>

</body>
</html>
